/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Fira Sans', sans-serif;
}

/* .navbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
} */

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 56px;
    background: #fff;
    transition: 0.3s;
}

nav.scrolled-down {
    height: 80px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.14);
}

/* nav.scrolled-down {
    scale: 1.25;
} */

/* .header {
    width: 100%;
    height: 92vh;
    background-size: cover;
    background-repeat: no-repeat;
} */
